.header{
  position: fixed;
  top: 0;
  height: 8%;
}
.headerRow{
  height: 100%;
  background-color: #474954;
}
.headerButtons{
  height: 100%;
  border-right: 1px solid rgba(86,61,124,.2);
  align: center;
  background-color: #474954;
}
.headerButtonContainer{
  height: 100%;
}
.headerButtns{
  height:100%;
  width: 100%;
  border-radius: 0;
  color: #7CDEDC;
  border: none;
}
.colHeight{
  height:100%;
}
.dentalHeader{
  margin-top: 10%;
  color: #7CDEDC;
}
.headerFinalButton{
  height: 100%;
  padding:0px;
  background-color: #474954;
}
.finalButtn{
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 0;
  font-size: 30px;
  color: #7CDEDC;
}
.headerTitle{
  height: 100%;
  border-right: 1px solid rgba(86,61,124,.2);
  background-color: #474954;
}
.firstPageContent{
  height:100%;
  top: 8%;
  position: absolute;
  z-index: -1;
  background-color: #474954;
}
.firstPage{
  height: 100%;
  position: relative;
}
.swiper-container{
  width: 50%;
  margin-top:5%;
}
.swiper-slide{
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.sliderimages{
  width:825px;
  height:400px;
}
.sliderButtons{
  position: absolute;
  height: 75px;
  width: 150px;
  border-radius: 0;
  background-color: #354adc75;
  color: white;
  border: 1px solid transparent;
  left:25%;
}
.sliderbtnHeight{
  height:75px;
}
.sliderButtonContainer{
  position: absolute;
  z-index: 1;
  top: 55%;
}
.secondPageAccord{
  margin-top:5%;
}
.underSliderHeader{
  text-align: center;
  color: #F0EEEF;
}
.secondPageContent{
  height:92%;
  top: 100%;
  position: absolute;
  z-index: -1;
  background-color: #474954;
}
.secondPage{
  height: 100%;
  position: relative;
}
.collapsed{
  color: #474954;
}
.thirdPageContent{
  height:92%;
  top: 192%;
  position: absolute;
  z-index: -1;
  background-color: #474954;
}
.thirdPage{
  height: 100%;
  margin-top:5%
}
