body{
  font-family: 'Comfortaa', cursive;
}
.header{
  position: fixed;
  top: 0;
}
.headerRow{
  height: 100%;
  background-color: #4ab1d1;
}
.headerButtons{
  border-right: 1px solid rgba(86,61,124,.2);
  align: center;
  background-color: #4ab1d1;
}
.headerButtonContainer{
  height: 100%;
}
.headerButtns{
  height:100%;
  width: 100%;
  border-radius: 0;
  color: #474954;
  border: none;
  font-size: 20px;
}
.colHeight{
  height:100%;
}
.dentalHeader{
  margin-top: 10%;
  color: #474954;
  margin-bottom: 0;
}
.underDentalHeader{
  text-align: center;
  color: #474954;
}
.underFinalButton{
  color: #474954;
  text-align: center;
  margin-bottom: 0;
}
.headerFinalButton{
  height: 100%;
  padding:0px;
  background-color: #4ab1d1;
}
.finalButtn{
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 0;
  font-size: 30px;
  color: #474954;
}
.headerTitle{
  border-right: 1px solid rgba(86,61,124,.2);
  background-color: #4ab1d1;
}
.firstPageContent{
  height:100%;
  top: 8%;
  position: absolute;
  z-index: -1;
  /*background-color: #474954;*/
}
.firstPage{
  height: 100%;
  position: relative;
}
.sliderimages{
  width:825px;
  height:400px;
}
.sliderButtons{
  position: absolute;
  height: 75px;
  width: 150px;
  border-radius: 0;
  background-color: #4ab1d1;
  color: white;
  border: 1px solid transparent;
  left:42%;
}
.sliderbtnHeight{
  height:75px;
}
.sliderButtonContainer{
  position: absolute;
  z-index: 1;
  top: 70%;
}
.secondPageAccord{
  margin-top:5%;
}
.underSliderHeader{
  text-align: center;
  color: #474954;
}
.secondPageContent{
  height:92%;
  top: 100%;
  position: absolute;
  z-index: -1;
  /*background-color: #474954;*/
}
.secondPage{
  height: 100%;
  position: relative;
}
.collapsed{
  color: #474954;
}
.thirdPageContent{
  height:92%;
  top: 192%;
  position: absolute;
  z-index: -1;
  /*background-color: #474954;*/
}
.thirdPage{
  height: 100%;
  margin-top:5%
}
.fourthPageContent{
  height:92%;
  top: 292%;
  position: absolute;
  z-index: -1;
  background-color: #474954;
}
.fourthPage{
  height: 100%;
  margin-top:5%
}



.footer{
  position: fixed;
  bottom: 0;
}
.footerRow{
  height: 100%;
}
.emailButton{
  border-radius: 20px;
  margin-bottom:25px;
  margin-left: 25px;
}
